
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>

<div>
    <div id="fileDrop" draggable="true">
        <span>ここにファイルをドラッグアンドドロップ</span>
    </div>

</div>

@section Scripts{ 
    
<script src="~/js/uploader.js"></script>
}