
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>

<div>
    <div id="fileDrop" draggable="true">
        <span>ここにファイルをドラッグアンドドロップ</span>
    </div>

</div>

@section Scripts{ 
    
<script type="text/javascript">
    var sas = '@Html.Raw(ViewData["SAS"])';
    var url = '@Html.Raw(ViewData["URL"])';
</script>
<script src="~/js/uploader.js"></script>

}